.wrapper_table_books {
    position: relative;
	display: flex;
    width: 80%;
	margin-top: 5px;
    margin-left: 10%;
	justify-content: center;
	align-items: center;
	color: white;
	font: small-caps 24px/1 sans-serif;
}

.add_title_properties {
    position: relative;
    width: 100%;
    display: inline-block;   
    margin-left: 5%;
    margin-top: 2%;
    color: black;
}

.table_properties {
    position: relative;
	display: flex;
    width: 100%;
    margin-left: 0%;
}

.form_properties {
    position: relative;
	display: flex;
    width: 50%;
    margin-left: 30%;
}

.lanth_form-group { 
    width: 100%; 
  }

.search_properties {
    width: 100%;
    margin-left: 25%;
}